<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="xmlFile" value="c:\\Users\\New\\Desktop\\k163833\\k163833_Q2\\test2.xml" />
    <add key="from" value="anosha.rehan15@gmail.com" />
   <add key="password" value="anoshia110" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>