<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="xmlFile1" value="C:\\Users\\New\\Desktop\\k163833\\k163833_Q4\\k163833_Q4\\RssXML1.xml" />
  <add key="xmlFile2" value="C:\\Users\\New\\Desktop\\k163833\\k163833_Q4\\k163833_Q4\\RssXML2.xml" />
  <add key="news1" value="https://www.thenews.com.pk/rss/1/33" />
  <add key="news2" value="https://786news.com/feed/" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>